.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 90vh;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

label {
  margin: 3px;
  font-weight: bold;
}

.form-div {
  width: 50%;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.flashcard-container {
  width: 300px;
  height: 310px;
  margin: 20px;
  padding: 20px;
  background-color: ghostwhite;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
  position: center;
}

.flashcard-container.flashcard-correct {
  animation: flashGreen 0.5s linear;
}

@keyframes flashGreen {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: #58fd58;
  }
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: #f7f7f7;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 32px;
  color: var(--primary-color);
}

header p {
  font-size: 18px;
  color: var(--text-color);
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.features {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}

.features h2 {
  color: var(--primary-color);
  font-size: 24px;
}

.features ul {
  margin-top: 20px;
  padding-left: 20px;
}

.features li {
  color: var(--text-color);
  font-size: 18px;
  margin-bottom: 10px;
}

.flashcard-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.flashcard-container-p {
  font-size: 24px;
  margin-bottom: 10px;
}

.flashcard-container-front {
  color: #4caf50;
}

.flashcard-container-back {
  color: #f44336;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.flashcard-container-back-next {
  color: #f44336;
  opacity: 0;

}

.flashcard-container-show-back-front {
  display: none;

}

.flashcard-container-show-back-back {
  opacity: 1;
}

.navbar {
  background-color: #222;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.navbar span {
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
}

.delete-button {
  background-color: lightpink;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  margin: 10px;
  width: 70px;
  height: 50px;
}

.edit-button {
  background-color: rgb(240, 240, 122);
  border-radius: 50%;
  bottom: 0;
  right: 0;
  margin: 10px;
  width: 70px;
  height: 50px;
  color: #222;
}

button {
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  width: 90px;
  height: 50px;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004080;
}

.how-to-get-started {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}

.how-to-get-started h2 {
  color: #3366ff;
  font-size: 24px;
}

.how-to-get-started ol {
  margin-top: 20px;
  padding-left: 20px;
}

.how-to-get-started li {
  color: #333333;
  font-size: 18px;
  margin-bottom: 10px;
}

.new-user {
  background-color: #3366ff;
  padding: 20px;
  border-radius: 8px;
  color: #ffffff;
  text-align: center;
}

.new-user h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.new-user p {
  font-size: 18px;
}

.new-user button {
  margin-top: 20px;
  padding: 10px 10px;
  background-color: #ff6633;
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 4px;
}

.existing-user {
  background-color: #ff6633;
  padding: 20px;
  border-radius: 8px;
  color: #ffffff;
  text-align: center;
}

.existing-user h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.existing-user p {
  font-size: 18px;
}

.existing-user button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3366ff;
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 4px;
}

.deck-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.deck-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 8px;
  margin-bottom: 10px;
}

.deck-item p {
  margin: 0;
  font-size: 18px;
  color: #333333;
}

.study-mode-button {
  background-color: #3366ff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.study-mode-button:hover {
  background-color: #3355ff;
}

.study-mode-button:active {
  background-color: #3344ff;
}

.card-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.card-form-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333333;
}

.card-form-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
}

.card-form-submit {
  background-color: #3366ff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.card-form-submit:hover {
  background-color: #3355ff;
}

.card-form-submit:active {
  background-color: #3344ff;
}

.profile-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 50px;
}

.page-heading {
  margin: 0 auto;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 5px;
  width: 50%;
}

.user-stats {
  width: 300px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  margin-right: 10px;
  flex: 2;
}

.user-info {
  flex: 1;
  width: 300px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  margin-right: 20px;
}

.user-info h2,
.user-stats h2 {
  margin-top: 0;
}

.user-info p {
  margin: 10px 0;
}

.user-info button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.user-info button:hover {
  background-color: #0056b3;
}

.user-info input[type="text"],
.user-info input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.user-info button[type="submit"] {
  background-color: #28a745;
}

.user-info button[type="submit"]:hover {
  background-color: #1a682c;
}

.user-info button[type="submit"],
.user-info button[type="button"] {
  margin-right: 10px;
}

.edit-form-container {
  width: 300px;
}

.flashcard-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.flashcard-form label {
  font-weight: bold;
  margin-bottom: 3px;
}

.flashcard-form input[type="text"] {
  width: 300px;
  height: 30px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.flashcard-form .file-input {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 10px;
}


.flashcard-form .image-preview {
  width: 300px;
  height: 150px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcard-form .image-preview img {
  max-width: 100%;
  max-height: 100%;
}

.flashcard-form-button {
  background-color: #4CAF50;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.flashcard-form-button:hover {
  background-color: #3e8e41;
}

.flashcard-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.error {
  color: red
}

html {
  background-image: url('images/cool-background.png');
  background-repeat: no-repeat;
  /* if you don't want the image to repeat */
  background-size: cover;
  /* if you want the image to cover the whole element */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__contact ul,
.footer__links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__contact li,
.footer__links li {
  margin-bottom: 10px;
}

.footer__links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer__links a:hover {
  color: #ccc;
}

.footer__copy {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
a:visited {
  color: white;
}