.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flashcard-container {
  width: 300px;
  height: 200px;
  margin: 20px;
  padding: 20px;
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  position:center;
}
.flashcard-container.flashcard-correct {
  animation: flashGreen 0.5s linear ;
}
@keyframes flashGreen {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #58fd58;
  }
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: #f7f7f7;
}
header {
  text-align: center;
  margin-bottom: 40px;
}
header h1 {
  font-size: 32px;
  color: var(--primary-color);
}

header p {
  font-size: 18px;
  color: var(--text-color);
}
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
features {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}

.features h2 {
  color: var(--primary-color);
  font-size: 24px;
}

.features ul {
  margin-top: 20px;
  padding-left: 20px;
}

.features li {
  color: var(--text-color);
  font-size: 18px;
  margin-bottom: 10px;
}

.flashcard-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.flashcard-container-p {
  font-size: 24px;
  margin-bottom: 10px;
}

.flashcard-container-front {
  color: #4caf50;
}

.flashcard-container-back {
  color: #f44336;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.flashcard-container-back-next {
  color: #f44336;
  opacity: 0;

}

.flashcard-container-show-back-front {
  display: none;

}

.flashcard-container-show-back-back {
  opacity: 1;
}
.navbar {
  background-color: #222;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.navbar span {
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
}
.delete-button {
  background-color: lightpink;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  margin: 10px;
  width: 70px;
  height: 50px;
}

button {
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  width:90px;
  height: 50px;
}
button:hover {
  background-color: #0056b3;
}
button:active {
  background-color: #004080;
}
.how-to-get-started {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
}

.how-to-get-started h2 {
  color: #3366ff;
  font-size: 24px;
}

.how-to-get-started ol {
  margin-top: 20px;
  padding-left: 20px;
}

.how-to-get-started li {
  color: #333333;
  font-size: 18px;
  margin-bottom: 10px;
}
.new-user {
  background-color:  #3366ff;
  padding: 20px;
  border-radius: 8px;
  color: #ffffff;
  text-align: center;
}

.new-user h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.new-user p {
  font-size: 18px;
}

.new-user button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff6633 ;
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 4px;
}
.existing-user {
  background-color: #ff6633;
  padding: 20px;
  border-radius: 8px;
  color: #ffffff;
  text-align: center;
}

.existing-user h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.existing-user p {
  font-size: 18px;
}

.existing-user button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #3366ff;
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 4px;
}
.deck-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.deck-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 8px;
  margin-bottom: 10px;
}

.deck-item p {
  margin: 0;
  font-size: 18px;
  color: #333333;
}

.study-mode-button {
  background-color: #3366ff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
.study-mode-button:hover {
  background-color: #3355ff;
}

.study-mode-button:active {
  background-color: #3344ff;
}